:root {
  /*GRID*/
  --grid-column-count: 1;
  --grid-gap: 0.5rem;

  /*COLOR*/
  --color-blue: #0065ff;
  --color-white: #f8f9fa;
  --color-black: #202020;

  --color-background: var(--color-white);
  --color-foreground: var(--color-black);
  /*--color-link--visited:;*/

  /*TYPOGRAPHY*/
  --font-family-default: Be Vietnam;
  --font-family-h2: EB Garamond;
  --font-size-default: 1rem;
  --font-size-h: 1rem;
  --font-size-h2: 2.5rem;

  /*WHITESPACE*/
  --whitespace-m: 1.25rem;
  --whitespace-l: 2.5rem;
  --whitespace-xl: 4rem;
}

* {
  box-sizing: border-box;
}

.theme {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

/*.them--dark {

}*/

body {
  margin: 0;
  color: var(--color-foreground);
  background-color: var(--color-background);
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
}

.page {
  display: grid;
  gap: var(--whitespace-xl);
}

.container {
  display: grid;
  grid-template-columns:1fr 960px 1fr;
  gap: var(--whitespace-m);
}

/* Place everything in 960px place */
.container > * {
    grid-column: 2;
}

.container.fullscreen  > * {
  margin:30px;
  grid-column: span 3;
}

.round-corner {
  border:1px solid red;
  border-radius: 5px;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:var(--whitespace-m);
}

.flex {
  display: flex;
}

.box {
  width: 640px;
  height: 340px;
}

.box2 {
  width: 240px;
  height: 140px;
}

 /* .item-left {
  grid-column: 1 / span 2;
} 

 .item-right {
  grid-column: 2 / span 3;
}  */
/*h1,
.h1 {
  color: var(--color-black);
  font-size: var(--font-size-h);
}

h2,
.h2 {
  color: var(--color-blue);
  font-family: var(--font-size-h2);
  font-size: var(--font-size-h2);
}

h3,
h3 {
  color: var(--color-blue);
}*/

/*a {
  text-decoration: none;
  color: var(--color-blue);
}*/

nav {
  /*display: flex;
  align-items: center;
  height: 4.5rem;*/
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.15);
}

.divider {
  border: 1px solid var(--color-blue);
  border-top:0px;
}

.divider-s {
  width: 10%
}

.callout p:before {
  content: "";
  background-image: url("vector.svg");
  width: 16px;
  height: 16px;
  float: left;
  margin: 6px 15px 0 0;
}

.button {
  color: var(--color-blue);
  background-color: white;
  font-weight: bold;
  border: 1px solid var(--color-blue);
  border-radius: 25px;
  padding: 1rem;
}
